@import "./variables";

@mixin blue-button {
    color: $white-text;
    padding: 0 2rem 0 2rem;
    font: {
        size: toRem(14);
        weight: bold;
        family: Verdana;
    }
    background-color: $blue-btn-bg;
    width: fit-content;
    height: toRem(45);
    text-align: center;
    text-transform: uppercase;
    border: none;
    &:hover {
        background-color: $blue-btn-hover;
        transition: 0.3s ease;
    }
}

@mixin orange-text {
    color: $orange-text;
    text-transform: uppercase;
    font-size: toRem(24);
    font-weight: bold;
}

@mixin white-big-title {
    font-size: toRem(48);
    font-weight: bold;
}

@mixin white-medium-title {
    font-size: toRem(40);
    font-weight: bold;
}

@mixin white-small-title {
    font-size: toRem(32);
    font-weight: bold;
}

@mixin white-under-img-title {
    font-size: toRem(24);
    font-weight: bold;
}

@mixin normal-black-text {
    font-size: toRem(16);
    color: $black-text;
}

@mixin normal-white-text {
    font-size: toRem(16);
    color: $white-text;
}
// px na remy
@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}
