$white-background: #ffffff;

$nav-text-black: #4f4f4e;

$blue-btn-bg: #2890d5;

$blue-btn-hover: #2073aa;

$blue-nav-hover: #2890d5;

$orange-text: #f28924;

$white-text: #ffffff;

$black-text: #000000;

$grey-text: #3f3f3f;

$white-opacity-bg: #ffffffe6;

$grey-bg: #323D3F; //#717170;

$orange-bg-gradient: linear-gradient(180deg, #f28924 0%, #e0c8b2 100%);

