@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.our-services {
    margin-top: toRem(120);
    background: $grey-bg;
    padding: 5rem 3rem 8rem 3rem;
    h5 {
        @include orange-text;
        text-transform: none;
        margin: 2rem 0 2rem 0;
    }
    p {
        @include normal-white-text;
    }
}

.call-us {
    background: $orange-bg-gradient;
    h1 {
        margin: 4rem 0 3rem 0;
    }
    p {
        @include normal-white-text;
        font-size: toRem(18);
        margin-bottom: 4.25rem;
    }
    button {
        margin-bottom: 2rem;
        @include blue-button;
    }
}
