@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.contact-us {
    margin-top: toRem(120);
    background: $grey-bg;
    h1 {
        margin: 7rem 0 6rem 0;
        font: {
            size: toRem(71);
            family: "Arial", Helvetica, sans-serif;
            weight: bold;
        }
    }
    h2 {
        text-transform: none;
        margin-bottom: 2rem;
    }
    p {
        font-size: toRem(20);
        color: $white-text;
    }
}

iframe {
    width: 100%;
    margin: 8rem 0 8rem 0;
}
