@import "../../abstracts/mixins";
@import "../../abstracts/variables";

.fav-destinations {
    background: $orange-bg-gradient;
    height: 77dvh;
    display: grid;
    place-items: center;
    h1 {
        font: {
            size: toRem(71);
            family: "Arial", Helvetica, sans-serif;
            weight: bold;
        }
    }
    .carousel {
        img {
            height: 20rem;
        }
        .carousel-control-prev-icon {
            background-color: $grey-bg;
            //height: 2.125rem;
            width: 2.5rem;
            border-radius: toRem(5);
        }

        .carousel-control-next-icon {
            background-color: $grey-bg;
            //height: 2.125rem;
            width: 2.5rem;
            border-radius: toRem(5);
        }
    }
}

.places {
    background-color: $grey-bg;
    padding: 6rem 0 8rem 0;
    h1 {
        @include white-big-title;
        margin-bottom: 1rem;
    }
    h2 {
        @include white-small-title;
    }
    p {
        @include normal-white-text;
        margin: 2rem 0 2rem 0;
    }
    button {
        @include blue-button;
    }
    .spacer {
        margin-bottom: 18rem;
    }
}
