@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.china-title {
    height: 60dvh;
    background: {
        image: url("https://cdn2.editmysite.com/images/editor/theme-background/stock/Greenhills.jpg");
        size: cover;
        attachment: fixed;
        position: center;
    }
    display: grid;
    place-items: center;
    margin-top: toRem(120);
    h1 {
        font: {
            size: toRem(71);
            family: Arial;
            weight: bold;
        }
    }
}

.img-text {
    background-color: $grey-bg;
    padding-top: 2rem;
}

.culture {
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    img {
        margin-right: 5rem;
    }
    p {
        @include normal-white-text;
    }
}

.summer-destinations {
    background: $orange-bg-gradient;
    padding-bottom: 8rem;
    h2 {
        color: $white-text;
    }
    p {
        font-size: toRem(18);
        font-weight: bold;
        margin-top: 2rem;
    }
}
