@import "../abstracts/mixins";
@import "../abstracts/variables";
// @import '../abstracts/reset';

* {
    margin: 0;
    padding: 0;
    body {
        font-family: "Verdana", Geneva, Tahoma, sans-serif;
        color: $white-text;
        text-align: center;
    }
}

nav {
    display: flex;
    height: toRem(120);
    @include nav-style;
}

.main-page {
    display: grid;
    place-items: center;
    height: 75dvh;
    background-image: url("https://lsklenar.weebly.com/uploads/1/4/3/7/143782816/background-images/1975787020.jpg");
    //background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    overflow-clip-margin: content-box;
    overflow: clip;
    */
    background-repeat: no-repeat;
    h2 {
        font: {
            size: toRem(48);
            family: Arial;
            weight: bold;
            style: italic;
        }
        color: $white-text;
        margin-block-end: 2rem;
    }
    button {
        @include blue-button;
        display: inline-block; //idk, test
    }
}

.services {
    height: 80dvh;
    /* display: grid;
    place-items: center;
    height: 88vh;
    */
    background-color: #323d3f;
    .banner-services h2 {
        padding-block-start: 5rem;
        @include orange-text;
    }
    h3 {
        @include white-small-title;
        margin: 4rem 0 4rem 0;
    }
    button {
        @include blue-button;
        margin-block-start: 2rem;
    }
    .services-list {
        margin: 0 13rem 0 13rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        h2 {
            margin-top: 2rem;
            @include white-under-img-title;
        }
    }
}

.chinese-wall {
    background-image: url("https://lsklenar.weebly.com/uploads/1/4/3/7/143782816/background-images/1623097286.jpg");
    height: 75dvh;
    display: grid;
    justify-items: center;
    .title-field {
        margin-top: 3rem;
        height: 80%;
        width: 48%;
        background-color: $white-opacity-bg;
        .destinations-title {
            @include orange-text;
            margin-top: 4rem;
        }
        h2 {
            @include white-medium-title;
            color: $black-text;
            margin: 3rem 0 3rem 0;
        }
        p {
            color: $grey-text;
            padding: 0 7rem 0 7rem;
        }
        button {
            @include blue-button;
            margin-top: 3rem;
        }
    }
}

.tools {
    background-color: $grey-bg;
    h2 {
        @include white-medium-title;
        padding: 2.5rem 0 2.5rem 0;
    }
    h4 {
        @include orange-text;
        padding-top: 5rem;
    }
    h5 {
        @include normal-black-text;
        color: $grey-text;
        font-weight: bold;
    }
    h6 {
        font-size: toRem(18);
        font-weight: bold;
        padding-bottom: 2.5rem;
    }
    p {
        @include normal-black-text;
        padding: 3rem 0 4rem 0;
    }
    .tools-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
        margin: 0 10rem 0 10rem;
        .col {
            padding: 1.5rem;
            background-color: $white-background;
            margin-bottom: 5rem;
            display: flex;
            flex-direction: column;
            justify-self: center;
            img {
                max-width: 100%;
                height: auto;
                padding: 3rem 0 3rem 0;
                align-self: center;
            }
        }
    }
}

.reviews {
    background-color: $grey-bg;
    display: grid;
    place-items: center;
    h2 {
        @include white-medium-title;
        padding: 2.5rem 0 2.5rem 0;
    }
    h4 {
        @include orange-text;
        padding-top: 5rem;
    }
    h5 {
        @include normal-black-text;
        color: $grey-text;
        font-weight: bold;
    }
    h6 {
        font-size: toRem(22);
        font-family: "Georgia", Times New Roman, Times, serif;
        font-style: italic;
        margin-bottom: 6rem;
    }
    div {
        width: 50%;
        blockquote {
            font: {
                size: toRem(100);
                family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; //tu sa musim pohrať s fontom
            }
            text-align: left;
            margin-left: -4rem;
        }
    }
    p {
        @include normal-white-text;
        margin: 2rem 0 10rem 0;
    }
}
