@import "../abstracts/mixins";
@import "../abstracts/variables";

* {
    margin: 0;
    padding: 0;
    body {
        font-family: "Verdana", Geneva, Tahoma, sans-serif;
        color: $white-text;
        text-align: center;
    }
}

.main-wrap {
    width: 100%;
}

.container {
    width: 100%;
    max-width: toRem(1170);
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-wrap .container {
    padding: 50px;
    box-sizing: border-box;
}

h1 {
    @include white-big-title;
}
h2 {
    @include orange-text;
}
h3 {
    @include white-medium-title;
}
h4 {
    @include white-small-title;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-background;
    height: toRem(120);
    transition: 0.5s;
    z-index: 99;
    ul {
        display: flex;
        place-items: center;
        li {
            list-style: none;
            a {
                text-decoration: none;
                font-family: "Verdana", Geneva, Tahoma, sans-serif;
                color: $nav-text-black;
                font-weight: bold;
                margin-inline-end: 1rem;
                font-size: toRem(18);
                &:hover {
                    color: $blue-nav-hover;
                    transition: 0.3s ease;
                }
                &:focus {
                    color: $blue-btn-bg;
                }
            }
        }
        .logo {
            margin-inline-end: 4rem;
        }
    }
    a:is(:active, :link, :visited).active {
        color: $blue-nav-hover;
    }
}

.sticky {
    height: toRem(80);
}

.main-page {
    margin-top: toRem(120);
    display: grid;
    place-items: center;
    height: 75dvh;
    background-image: url("https://lsklenar.weebly.com/uploads/1/4/3/7/143782816/background-images/1975787020.jpg");
    background-position: bottom;
    background-size: cover;
    h6 {
        font: {
            size: toRem(48);
            family: Arial;
            weight: bold;
            style: italic;
        }
        letter-spacing: toRem(1.5);
        margin-block-end: 2rem;
    }
    button {
        @include blue-button;
    }
}

.services {
    height: 90h;
    background-color: $grey-bg;
    h2 {
        padding-block-start: 3.5rem;
    }
    h4 {
        margin: 4rem 0 4rem 0;
    }
    button {
        @include blue-button;
        margin: 2.5rem 0 5rem 0;
    }

    h5 {
        margin-top: 2rem;
        @include white-under-img-title;
    }
}

.chinese-wall {
    background-image: url("https://lsklenar.weebly.com/uploads/1/4/3/7/143782816/background-images/1623097286.jpg");
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 75dvh;
    display: grid;
    .title-field {
        margin-top: 3rem;
        max-width: 40%;
        height: 75%;
        background-color: $white-opacity-bg;
        .destinations-title {
            @include orange-text;
        }
        h3 {
            color: $black-text;
            margin: 2.25rem 0 2.5rem 0;
        }
        p {
            color: $grey-text;
            padding: 0 4rem 0 4rem;
        }
        button {
            margin-top: 5rem;
            @include blue-button;
        }
    }
}

.tools {
    background-color: $grey-bg;
    h3 {
        padding: 2.4rem 0 2.4rem 0;
    }
    h2 {
        padding-top: 1rem;
    }
    h5 {
        @include normal-black-text;
        color: $grey-text;
        font-weight: bold;
    }
    h6 {
        font-size: toRem(18);
        font-weight: bold;
        padding-bottom: 2.5rem;
    }
    p {
        @include normal-black-text;
        padding: 3rem 0 5rem 0;
    }
    .col {
        display: grid;
        margin: 1rem;
        background-color: $white-background;
        margin-bottom: 5rem;
        a {
            padding: 4rem 0 3rem 0;
            justify-self: center;
        }
    }
}

.reviews {
    background-color: $grey-bg;
    display: grid;
    place-items: center;
    h3 {
        padding: 2.5rem 0 2.5rem 0;
    }
    h5 {
        @include normal-black-text;
        color: $grey-text;
        font-weight: bold;
    }
    h6 {
        font-size: toRem(22);
        line-height: toRem(31);
        font-family: "Georgia", Times New Roman, Times, serif;
        font-style: italic;
        margin-bottom: 6rem;
    }
    .reviews-text {
        padding: 0 10rem 0 10rem;
        blockquote {
            margin: 2.5rem 0 1.5rem -4rem;
        }
    }
    p {
        @include normal-white-text;
        margin: 2rem 0 10rem 0;
    }
    .stars {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}
