*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
pre,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-align: inherit;
}

input[type=checkbox],
input[type=radio],
input[type=file],
input[type=range],
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}
* body {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  color: #ffffff;
  text-align: center;
}

.main-wrap {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 73.125rem;
  padding: 0 1rem 0 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-wrap .container {
  padding: 50px;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  color: #f28924;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 7.5rem;
  transition: 0.5s;
  z-index: 99;
}
header ul {
  display: flex;
  place-items: center;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  color: #4f4f4e;
  font-weight: bold;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
  font-size: 1.125rem;
}
header ul li a:hover {
  color: #2890d5;
  transition: 0.3s ease;
}
header ul li a:focus {
  color: #2890d5;
}
header ul .logo {
  -webkit-margin-end: 4rem;
          margin-inline-end: 4rem;
}
header a:is(:active, :link, :visited).active {
  color: #2890d5;
}

.sticky {
  height: 5rem;
}

.main-page {
  margin-top: 7.5rem;
  display: grid;
  place-items: center;
  height: 75dvh;
  background-image: url("https://lsklenar.weebly.com/uploads/1/4/3/7/143782816/background-images/1975787020.jpg");
  background-position: bottom;
  background-size: cover;
}
.main-page h6 {
  font-size: 3rem;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.09375rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
.main-page button {
  color: #ffffff;
  padding: 0 2rem 0 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: Verdana;
  background-color: #2890d5;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.8125rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.main-page button:hover {
  background-color: #2073aa;
  transition: 0.3s ease;
}

.services {
  height: 90h;
  background-color: #323D3F;
}
.services h2 {
  -webkit-padding-before: 3.5rem;
          padding-block-start: 3.5rem;
}
.services h4 {
  margin: 4rem 0 4rem 0;
}
.services button {
  color: #ffffff;
  padding: 0 2rem 0 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: Verdana;
  background-color: #2890d5;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.8125rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  margin: 2.5rem 0 5rem 0;
}
.services button:hover {
  background-color: #2073aa;
  transition: 0.3s ease;
}
.services h5 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.chinese-wall {
  background-image: url("https://lsklenar.weebly.com/uploads/1/4/3/7/143782816/background-images/1623097286.jpg");
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 75dvh;
  display: grid;
}
.chinese-wall .title-field {
  margin-top: 3rem;
  max-width: 40%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.9019607843);
}
.chinese-wall .title-field .destinations-title {
  color: #f28924;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}
.chinese-wall .title-field h3 {
  color: #000000;
  margin: 2.25rem 0 2.5rem 0;
}
.chinese-wall .title-field p {
  color: #3f3f3f;
  padding: 0 4rem 0 4rem;
}
.chinese-wall .title-field button {
  margin-top: 5rem;
  color: #ffffff;
  padding: 0 2rem 0 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: Verdana;
  background-color: #2890d5;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.8125rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.chinese-wall .title-field button:hover {
  background-color: #2073aa;
  transition: 0.3s ease;
}

.tools {
  background-color: #323D3F;
}
.tools h3 {
  padding: 2.4rem 0 2.4rem 0;
}
.tools h2 {
  padding-top: 1rem;
}
.tools h5 {
  font-size: 1rem;
  color: #000000;
  color: #3f3f3f;
  font-weight: bold;
}
.tools h6 {
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 2.5rem;
}
.tools p {
  font-size: 1rem;
  color: #000000;
  padding: 3rem 0 5rem 0;
}
.tools .col {
  display: grid;
  margin: 1rem;
  background-color: #ffffff;
  margin-bottom: 5rem;
}
.tools .col a {
  padding: 4rem 0 3rem 0;
  justify-self: center;
}

.reviews {
  background-color: #323D3F;
  display: grid;
  place-items: center;
}
.reviews h3 {
  padding: 2.5rem 0 2.5rem 0;
}
.reviews h5 {
  font-size: 1rem;
  color: #000000;
  color: #3f3f3f;
  font-weight: bold;
}
.reviews h6 {
  font-size: 1.375rem;
  line-height: 1.9375rem;
  font-family: "Georgia", Times New Roman, Times, serif;
  font-style: italic;
  margin-bottom: 6rem;
}
.reviews .reviews-text {
  padding: 0 10rem 0 10rem;
}
.reviews .reviews-text blockquote {
  margin: 2.5rem 0 1.5rem -4rem;
}
.reviews p {
  font-size: 1rem;
  color: #ffffff;
  margin: 2rem 0 10rem 0;
}
.reviews .stars {
  display: grid;
  justify-content: center;
  align-items: center;
}

.our-services {
  margin-top: 7.5rem;
  background: #323D3F;
  padding: 5rem 3rem 8rem 3rem;
}
.our-services h5 {
  color: #f28924;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
  margin: 2rem 0 2rem 0;
}
.our-services p {
  font-size: 1rem;
  color: #ffffff;
}

.call-us {
  background: linear-gradient(180deg, #f28924 0%, #e0c8b2 100%);
}
.call-us h1 {
  margin: 4rem 0 3rem 0;
}
.call-us p {
  font-size: 1rem;
  color: #ffffff;
  font-size: 1.125rem;
  margin-bottom: 4.25rem;
}
.call-us button {
  margin-bottom: 2rem;
  color: #ffffff;
  padding: 0 2rem 0 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: Verdana;
  background-color: #2890d5;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.8125rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.call-us button:hover {
  background-color: #2073aa;
  transition: 0.3s ease;
}

.fav-destinations {
  background: linear-gradient(180deg, #f28924 0%, #e0c8b2 100%);
  height: 77dvh;
  display: grid;
  place-items: center;
  margin-top: 7.5rem;
}
.fav-destinations h6 {
  font-size: 4.4375rem;
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: bold;
}
.fav-destinations .carousel img {
  height: 20rem;
}
.fav-destinations .carousel .carousel-control-prev-icon {
  background-color: #323D3F;
  width: 2.5rem;
  border-radius: 0.3125rem;
}
.fav-destinations .carousel .carousel-control-next-icon {
  background-color: #323D3F;
  width: 2.5rem;
  border-radius: 0.3125rem;
}

.places {
  background-color: #323D3F;
  padding: 6rem 0 8rem 0;
}
.places h1 {
  margin-bottom: 1rem;
}
.places p {
  font-size: 1rem;
  color: #ffffff;
  margin: 2rem 0 2rem 0;
}
.places .spacer {
  margin-bottom: 18rem;
}
.places button {
  color: #ffffff;
  padding: 0 2rem 0 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: Verdana;
  background-color: #2890d5;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.8125rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.places button:hover {
  background-color: #2073aa;
  transition: 0.3s ease;
}

.china-title {
  height: 60dvh;
  background-image: url("https://cdn2.editmysite.com/images/editor/theme-background/stock/Greenhills.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  place-items: center;
  margin-top: 7.5rem;
}
.china-title h1 {
  font-size: 4.4375rem;
  font-family: Arial;
  font-weight: bold;
}

.img-text {
  background-color: #323D3F;
  padding-top: 2rem;
}

.culture {
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
.culture img {
  margin-right: 5rem;
}
.culture p {
  font-size: 1rem;
  color: #ffffff;
}

.summer-destinations {
  background: linear-gradient(180deg, #f28924 0%, #e0c8b2 100%);
  padding-bottom: 8rem;
}
.summer-destinations h2 {
  color: #ffffff;
}
.summer-destinations p {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 2rem;
}

.contact-us {
  margin-top: 7.5rem;
  background: #323D3F;
}
.contact-us h1 {
  margin: 7rem 0 6rem 0;
  font-size: 4.4375rem;
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: bold;
}
.contact-us h2 {
  text-transform: none;
  margin-bottom: 2rem;
}
.contact-us p {
  font-size: 1.25rem;
  color: #ffffff;
}

iframe {
  width: 100%;
  margin: 8rem 0 8rem 0;
}/*# sourceMappingURL=main.css.map */