* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  height: 6rem;
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-items: space-between;
}

nav a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  font-family: sans-serif;
  color: #4f4f4e;
  font-weight: bold;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
  font-size: 1.15rem;
}

nav a:hover {
  color: #2890d5;
  transition: 0.3s ease;
}

nav .logo {
  -webkit-margin-end: 3rem;
          margin-inline-end: 3rem;
}

.main-page {
  display: grid;
  place-items: center;
  height: 88vh;
  background-image: url(img/sec1-bg.jpg);
  background-size: cover;
}

.main-page h2 {
  font-size: 48px;
  font-family: Arial;
  color: white;
  font-style: italic;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.main-page button {
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana;
  background-color: #2890d5;
  width: 220px;
  height: 45px;
  border: none;
}

.main-page button:hover {
  background-color: #2073aa;
  transition: 0.3s ease;
}

.main-page .banner-main-page {
  text-align: center;
}

.services {
  display: grid;
  place-items: center;
  height: 88vh;
  background-color: #323d3f;
}

.banner-services {
  text-align: center;
}

.banner-services h2 {
  color: #f28924;
  font-family: Verdana;
  font-size: 24px;
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
}

.banner-services h3 {
  font-family: Verdana;
  color: white;
  font-size: 32px;
}

.services-list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: space-between;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: Verdana;
}

.services-list img {
  width: 301px;
}

/*

* {
margin: 0;
padding: 0;
font-family: Verdana;
}

.obal {
display: grid;
}

.pozadie1 {
height: 50em; /* 800px */
/*
background-image: url(fotky/banner-bg.jpg);
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
color: white;
}

.main-menu {
margin-top: 1.3em;
display: flex;
justify-content: center;
position: fixed;
}

.main-menu .logo {
display: flex;
align-items: center;
}


.main-menu ul{
display: grid;
list-style: none;
grid-template-columns: 5fr 1fr 1fr 1fr 1fr 2fr 2fr;
align-items: center;
}

.main-menu a {
display: flex;
text-decoration: none;
justify-content: center;
font-family: sans-serif;
color: #4f4f4e;
font-size: 1.25rem;
}

.zenit {
font-size: 1.7em;
}
.cloud {
font-size: 1em;
font-weight: 500;
padding-left: 0.3em;
padding-top: 9px;
}

.logo {
display: flex;
flex-direction: row;
}



.prekliky {
width: 1140px;
display: flex;
justify-self: center;
}

.main-menu .uvod:hover {
color: #3e51ea;
transition: 0.5s ease;
}

.uvod {
font-size: 1.1em;
font-weight: 100;
}
.main-menu .onas:hover {
color: #3e51ea;
transition: 0.5s ease;
}

.main-menu .onas {
font-size: 1.1em;
font-weight: 100;
}

.main-menu .sluzby:hover {
color: #3e51ea;
transition: 0.5s ease;
}

.main-menu .sluzby {
font-size: 1.1em;
font-weight: 100;
}

.main-menu .kontakt:hover {
color: #3e51ea;
transition: 0.5s ease;
}

.main-menu .kontakt {
font-size: 1.1em;
font-weight: 100;
}

.ciarka-vrch {
border-bottom: 1px solid white;
width: 100%;
margin-top: 5em;
opacity: 0.30;
position: fixed;

}

.button-prihlasit {
margin-left: 4em;
}


.prihlasit {
width: 9em;
height: 3em;
background: none;
border: 0.05rem solid white;
color: white;
}

.prihlasit:hover {
color: #00A4B9;
background-color: white;
transition: 0.5s ease;

}

.registrovat {
width: 11em;
height: 40px;
background: none;
background-color:  #00BCD4;
border: none;
color: white;
}

.registrovat:hover {
background-color: #00A4B9;
}

.bg {
display: flex;
justify-content: center;
}

#navbar {
margin-top: 0;
width: 100%;
height: 80px;
}

.bgColor {
background-color: white;
box-shadow: 0px 0px 3px #6a6a6a;
transition: all 0.6s;
z-index: 50;
}

.bgColor a {
color: black;
}

.bgColor .uvod:hover  {
color: #00A4B9;
}

.bgColor .onas:hover  {
color: #00A4B9;
}

.bgColor .sluzby:hover  {
color: #00A4B9;
}

.bgColor .kontakt:hover  {
color: #00A4B9;
}

.bgColor .prihlasit {
width: 9em;
height: 3em;
background: none;
border: 0.05rem solid #00BCD4;
color: #00BCD4;
}

.bgColor .prihlasit:hover {
color: white;
background-color: #00A4B9;
transition: 0.5s ease;

}

/* title, button, bg img */
/* 
.title-home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-weight: 600;
    font-size: 48px;
    color: black;  /* zmenit na whitr */ /*
    font-style: italic;
}

/*
.container-home-sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 660px;
    width: 100%;
}
button {
    background-color: #2890d5;
    width: 200px;
    height: 40px;
    border: none;
    color: #ffff;
    font-size: 14px;
}

*//*# sourceMappingURL=main.css.map */